{% extends "base.html" %}

{% block content %}
<section class="hero-wrap hero-wrap-2" data-stellar-background-ratio="0.5"
         style="background-image: url('../static/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <h1 class="mb-3 bread">Code of Conduct</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i
                        class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="{% url 'bootcamps' %}">Blog <i
                        class="fa fa-chevron-right"></i></a></span> <span>Blog Single <i
                        class="fa fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">TECHNEG Services</span>
                <h2 class="mb-2">Our Services &amp; Offers</h2>
            </div>
        </div>

        <div class="row d-flex">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-family"></span></div>

                    <!--              <a href="blog-single.html" class="block-20 img" style="background-image: url('../static/images/image_2.jpg');">-->
                    <div class="media-body py-md-4">
                        <img alt="" class="block-20 img" src="../static/images/pr1.jpg">
                        <h3>Child Literacy</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary
                            regelialia.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-research"></span></div>
                    <div class="media-body py-md-4">
                        <h3>IT Training</h3>
                        <p>We provide a wide range of IT training to help bring Technological Knowledge to the door step
                            of everyone</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-checklist"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Ecosystem Strengthening</h3>
                        <p>We build enabling environment for the growth of entrepreneurship; Creating Linkages, Policy
                            Advocacy, Hub Setup and Development in growing ecosystems.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span
                            class="flaticon-project"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Startup Development</h3>
                        <p>Our programs are centered around the growth of the individual entrepreneur. We are also
                            focused on capacity building, coaching/mentoring and broad spectrum incubation.</p>
                    </div>
                </div>
            </div>

            <!--          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">-->
            <!--            <div class="media block-6 services d-block text-center">-->
            <!--            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-document"></span></div>-->
            <!--              <div class="media-body py-md-4">-->
            <!--                <h3>Writing Editing</h3>-->
            <!--                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->

            <!--          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">-->
            <!--            <div class="media block-6 services d-block text-center">-->
            <!--            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-language"></span></div>-->
            <!--              <div class="media-body py-md-4">-->
            <!--                <h3>Multiligual Services</h3>-->
            <!--                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->

            <!--          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">-->
            <!--            <div class="media block-6 services d-block text-center">-->
            <!--            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-call-center"></span></div>-->
            <!--              <div class="media-body py-md-4">-->
            <!--                <h3>Customer Service</h3>-->
            <!--                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->

            <!--          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">-->
            <!--            <div class="media block-6 services d-block text-center">-->
            <!--            	<div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-process"></span></div>-->
            <!--              <div class="media-body py-md-4">-->
            <!--                <h3>Executive Admin</h3>-->
            <!--                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->
        </div>
    </div>
</section>


{% endblock content %}