{% extends "base.html" %}

{% block content %}


<section class="hero-wrap hero-wrap-2" data-stellar-background-ratio="0.5"
         style="background-image: url('../static/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <h1 class="mb-3 bread">Code of Conduct</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i
                        class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="{% url 'bootcamps' %}">Blog <i
                        class="fa fa-chevron-right"></i></a></span> <span>Blog Single <i
                        class="fa fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-fullwidth goto-here">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Code of Conduct</span>
                <h2 class="mb-2">Code of Conduct</h2>
                <p class="mb-3">TECHNEG  aims to organize a welcoming event, where people meet in a friendly environment.
                    Accordingly, we expect that all participants are expected to show respect and courtesy to other
                    participants throughout the workshop.</p>

                <p>To make clear what is expected, all delegates/attendees, speakers, exhibitors, organizers and
                    volunteers at any TECHNEG events are required to conform to the following Code of Conduct.
                    Organizers will enforce this code before and throughout the event.</p>
            </div>
        </div>
    </div>

    <section id="Features">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2><span class="mb-2">In Short</h2>
                    <ul>
                        <li>
                            TECHNEG is dedicated to providing a harassment-free workshop experience for everyone,
                            regardless of gender, sexual orientation, disability, physical appearance, body size, race,
                            or religion.
                        </li>
                        <li>
                            We do not tolerate harassment of workshop participants in any form.
                        </li>
                        <li>
                            Sexual language and imagery is not appropriate for any workshop venue, including talks.
                        </li>
                        <li>
                            Be kind to others. Do not insult or put down other attendees. Behave professionally. Don't
                            publish photographs of people without their consent. Remember that harassment and sexist,
                            racist, or exclusionary jokes are not appropriate for Django Girls.
                        </li>
                        <li>
                            Conference participants violating these rules may be sanctioned or expelled from the
                            workshop without a refund at the discretion of the workshop organizers.
                        </li>
                    </ul>

                    <hr>
                    <h2><span class="primary-text">Longer version</h2>
                    <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability,
                        physical appearance, body size, race, religion, sexual images in public spaces, deliberate
                        intimidation, stalking, following, harassing photography or recording, sustained disruption of
                        talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
                    <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
                    <p>Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary
                        jokes can be offensive to those around you. Excessive swearing and offensive jokes are not
                        appropriate for Django Girls.</p>
                    <p>
                        If a participant engages in harassing behavior, the workshop organizers may take any action they
                        deem appropriate, including warning the offender or expulsion from the workshop with no refund.
                    </p>
                    <p>
                        We expect participants to follow these rules at all workshop venues and workshop-related social
                        events.
                    </p>
                </div>
            </div>
        </div>
    </section>

</section>


{% endblock content %}